#phone{
    text-decoration: none;
    color: blue;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
  
    text-align: left;
    padding: 8px;
  }
  

  button{
      padding: 5px;
      color:blueviolet ;
  }
  #hour{
    padding: 20px;
  }
  form{
    margin: 10px;
  }
  #email{
    padding: 5px;
    margin: 5px;
  }
  #pswrd{
    padding: 5px;
    margin: 5px;
  }
  #No{
    padding: 5px;
    margin: 5px; 
  }
  .btn{
    padding: 10px;
    margin: 6px;
   margin-left: 60px;
   background-color: rgb(33, 34, 33);
   color: white;
  }
  #myyTable{
    background-color:rgb(202, 202, 207) ;
    /* color: white; */
  }